#
# MySQL DB: Root Password
#
# ВАЖНО: Замените CHANGE_MYSQL_ROOT_PASSWORD_HERE на ваш уникальный пароль!
# Для генерации пароля используйте команду:
# docker container run --rm --name mysql_password_generate alpine:3.22 sh -c "(cat /dev/urandom | tr -dc A-Za-z0-9\?\!\@\-\_\+\%\(\)\{\}\[\]\= | head -c 16) | tr -d '\' | tr -d '^' && echo ''"
#
MYSQL_ROOT_PASSWORD="CHANGE_MYSQL_ROOT_PASSWORD_HERE"
#
# PostgreSQL DB: Postgres Password
#
# ВАЖНО: Замените CHANGE_POSTGRESQL_POSTGRES_PASSWORD_HERE на ваш уникальный пароль!
# Для генерации пароля используйте команду:
# docker container run --rm --name postgresql_password_generate alpine:3.22 sh -c "(cat /dev/urandom | tr -dc A-Za-z0-9\?\!\@\-\_\+\%\(\)\{\}\[\]\= | head -c 16) | tr -d '\' | tr -d '^' && echo ''"
#
POSTGRES_USER=postgres
POSTGRES_PASSWORD="CHANGE_POSTGRESQL_POSTGRES_PASSWORD_HERE"
POSTGRES_HOST_AUTH_METHOD=password
POSTGRES_INITDB_ARGS=--auth=password
#
# Percona Server 8.0.x or Percona Server 8.4.x: disable telemetry agent run, collect, send data
#
PERCONA_TELEMETRY_DISABLE=1

