#
# Push Server on NodeJS: Security Key
#
# ВАЖНО: Замените CHANGE_SECURITY_KEY_HERE на ваш уникальный секретный ключ!
# Для генерации секретного ключа используйте команду:
# docker container run --rm --name push_server_key_generate alpine:3.22 sh -c "(cat /dev/urandom | tr -dc A-Za-z0-9 | head -c 128) && echo ''"
#
# Этот ключ используется для подписи соединения между клиентом и Push-сервером.
# Длина ключа должна быть 128 символов.
#
PUSH_SECURITY_KEY=CHANGE_SECURITY_KEY_HERE

